body {
  font-family: sans-serif;
  margin: auto;
  background: linear-gradient(to top,#459c75,#047440);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: #2F5597; 
  text-decoration: none;
}

a:hover {
  color: #636e72;
}

.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@media (max-width: 768px) {
  .toast-container {
    width: 90%;
  }
}