body {
  font-family: sans-serif;
  margin: auto;
  background: linear-gradient(to top,#459c75,#047440);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: #2F5597; 
  text-decoration: none;
}

a:hover {
  color: #636e72;
}

.toast-container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: 1fr;
  color: black;
  overflow-x: hidden;
  right: 70%;
  min-width: 500px;
  text-align: center;
}

@media (max-width: 768px) {
  .toast-container {
    width: 90%;
  }
}