.container-actualizarStock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 2em;
    padding: 2em; 
    background: radial-gradient(circle, #144c74,#103753,#144c74);
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 2.5em; 
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .container-actualizarStock {
        padding: 1em;
    }

    h1 {
        font-size: 2em; 
    }

    h2 {
        font-size: 1.5em; 
    }
}
