.container-home {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../fondo.jpg'); /* fondo de imagen */
    background-size: cover; 
    background-position: center; /* Centra la imagen en el fondo */
}
.container-sub {  
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: rgba(49, 93, 213, 0.5); 
    border-radius: 10px; 
    padding: 20px; 

}


button {
    min-width: 20em;
    padding: 1em;
    border-radius: 1em;
    background-color: #bababa; 
    color: #2d3436;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #103753;
    color: white;
    transition: 0.3s;
    font-weight: bold;
    border: solid #cdcdcd 1px;
}
h1 {
    margin: 0;
    font-size: 2.5em;
    color: #cdcdcd; 
  }




@media(max-width: 768px) {
    button {
        min-width: 18em; 
        padding: 1em;
    }
}

@media(max-width: 480px) {
    button {
        min-width: 17em;
        padding: 1em;
    }
}
