.container-home {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('imagenes/fondo.jpg') no-repeat center center/cover;

    background-size: cover; 
    background-position: center; /* Centra la imagen en el fondo */
}
.container-sub {  
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: rgba(53, 58, 181, 0.5); 
    border-radius: 10px; 
    padding: 20px; 

}


button {
    min-width: 20em;
    padding: 1em;
    border-radius: 1em;
    background-color: #bababa; /* Color de botón */
    color: #2d3436; /* Texto oscuro para contraste */
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #103753;
    color: white;
    transition: 0.3s;
    font-weight: bold;
    border: solid #cdcdcd 1px;
}
h1 {
    margin: 0;
    font-size: 2.5em; /* Aumenta el tamaño del h1 para destacarlo */
    color: #cdcdcd; /* Color del texto del h1 */
  }



/* Media queries para hacerlo responsive */


@media(max-width: 800px) {
    button {
        min-width: 14em; /* Botones aún más pequeños en pantallas pequeñas */
        padding: 1em;
        
    }
}
