.container-misProductos {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em; 
    background-color: #2d3436; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

strong {
    margin: 1em;
    color: #e17055; 
}

@media (max-width: 600px) {
    .container-misProductos {
        padding: 1em; 
    }
    
    ul {
        width: 90%; 
    }

    strong {
        font-size: 1.2em; 
    }
}
