.container-misProductos{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

ul{
    list-style: none;  
}

strong{
    margin: 1em;
}
