.container-nuevoProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('imagenes/fond1.jpg') no-repeat center center/cover;
    background-size: cover; 
    background-position: center; 
}

.subtitulo-nuevoProducto {
    font-size: 2rem; 
    color: #07398E; 
    text-align: center;
}

.registro-producto{
    background-color:#dedede;
    padding: 1em; 
    border-radius: 0.7em;
    background-color: rgb(8 106 134 / 36%);
}

label {
    font-weight: bold;
    color: #fdfdfd;
}

input {
    padding: 0.6em;
    border-radius: 0.5em;
    border: 1px solid #636e72;
    background-color: #fff; 
    color: #2d3436; 
    border: none;
    outline: none;
}

input:focus{
    border-bottom: solid 2px #144c74;
    transition: 0.1s;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    width: 100%; 
    max-width: 400px; 
}
.input-umbral{
    margin-bottom: 1em;
}
.boton-generar-qr {
    max-width: 350px;
    background-color: #bababa; 
    color: #2d3436; 
    border: none;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
}

.boton-generar-qr:hover {
    color: white;
    border: solid white 1px;
    transition: 0.2s;
}

.qr-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


.boton-qr-imprimir {
    margin: auto;
    padding: 0.8em;
    background-color: #636e72; 
    color: #fff; 
    border: none;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.boton-qr-imprimir:hover {
    background-color: #2d3436; 
}

.container-boton-imprimir-qr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 400px; 
}

@media (max-width: 768px) {
    .subtitulo-nuevoProducto {
        font-size: 1.8rem; 
    }
    .form-group, .boton-generar-qr, .container-boton-imprimir-qr {
        max-width: 300px; 
    }
    .boton-atras,.boton-generar-qr{
        min-width: 15em;
    }
}